DB_NAME=flarum
DB_USER=flarum
DB_PASS=CHANGEME
DB_ROOT_PASS=CHANGEME
ADMIN_USER=admin
ADMIN_PASS=CHANGEME
ADMIN_EMAIL=admin@looksmax.lat
FORUM_TITLE=Looksmax.lat
FLARUM_BASE_URL=http://localhost:8888
HTTP_PORT=8888
FLARUM_DEBUG=false
